<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.medleymed.TwilioAudio" version="0.0.1">
   <name>TwilioAudio</name>
   <js-module name="TwilioAudio" src="www/TwilioAudio.js">
      <clobbers target="cordova.plugins.TwilioAudio" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="TwilioAudio">
            <param name="android-package" value="com.medleymed.TwilioAudio.TwilioAudio" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <activity android:name=".CustomDeviceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity
      android:name="com.medleymed.TwilioAudio.VoiceActivity"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme" /> 
        <uses-permission android:name="android.permission.INTERNET" />
      <source-file src="src/android/TwilioAudio.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/ApiService.java" target-dir="src/com/medleymed/TwilioAudio" />
       <source-file src="src/android/RetrofitAPi.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/VoiceActivity.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/IncomingCallNotificationService.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/SoundPoolManager.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/Constants.java" target-dir="src/com/medleymed/TwilioAudio" />
      <source-file src="src/android/fcm/VoiceFirebaseMessagingService.java" target-dir="src/com/medleymed/TwilioAudio" />
      <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
      <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
      <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
      <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
      <resource-file src="src/android/res/layout/activity_voice.xml" target="res/layout/activity_voice.xml" />
      <resource-file src="src/android/res/layout/dialog_call.xml" target="res/layout/dialog_call.xml" />
      <resource-file src="src/android/res/drawable/ic_call_black_24dp.xml" target="res/drawable/ic_call_black_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_call_end_white_24dp.xml" target="res/drawable/ic_call_end_white_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_call_white_24dp.xml" target="res/drawable/ic_call_white_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_launcher_background.xml" target="res/drawable/ic_launcher_background.xml" />
      <resource-file src="src/android/res/drawable/ic_launcher_foreground.xml" target="res/drawable/ic_launcher_foreground.xml" />
      <resource-file src="src/android/res/drawable/ic_mic_white_24dp.xml" target="res/drawable/ic_mic_white_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_mic_white_off_24dp.xml" target="res/drawable/ic_mic_white_off_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_music_white.xml" target="res/drawable/ic_music_white.xml" />
      <resource-file src="src/android/res/drawable/ic_pause_white_24dp.xml" target="res/drawable/ic_pause_white_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_phonelink_ring_white_24dp.xml" target="res/drawable/ic_phonelink_ring_white_24dp.xml" />
      <resource-file src="src/android/res/drawable/ic_volume_up_white_24dp.xml" target="res/drawable/ic_volume_up_white_24dp.xml" />
      <resource-file src="src/android/res/menu/menu.xml" target="res/menu/menu.xml" />
      <resource-file src="src/android/res/raw/disconnect.wav" target="res/raw/disconnect.wav" />
      <resource-file src="src/android/res/raw/incoming.wav" target="res/raw/incoming.wav" />
      <resource-file src="src/android/res/raw/music.wav" target="res/raw/music.wav" />
      <resource-file src="src/android/res/raw/outgoing.wav" target="res/raw/outgoing.wav" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="TwilioAudio">
            <param name="ios-package" value="TwilioAudio" />
         </feature>
      </config-file>
      <source-file src="src/ios/TwilioAudio.m" />
      <header-file src="src/ios/ViewController.h" />
      <source-file src="src/ios/ViewController.m" />
      <resource-file src="src/ios/Resources/TwilioAudio.storyboard" target="Resources/TwilioAudio.storyboard" />
      <resource-file src="src/ios/TwilioLogo.png" target="Resources/TwilioLogo.png" />
      <pods-config ios-min-version="11.0" use-frameworks="true">
          <!-- If you are facing 'spec' issues on "ionic cordova platform add ios" un commit this section, here I am specificying which
          github path the specs for the needed Twilio v1 SDK is located -->
          <source url="https://github.com/CocoaPods/Specs.git"/>
        </pods-config>
        <pod name="TwilioVoice" version="~>5.1.1" />
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Microphone"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
         </config-file>
   </platform>
</plugin>
